<template>
  <div>
      <h1>Sobre el sitio</h1>
      <router-link to="/about/us">Nosotros</router-link> <br>
      <router-link to="/about/history">Historia</router-link>
      <router-view></router-view>
  </div>
</template>

<script>
export default {
    name: 'About'
}
</script>
