<template>
  <div>
      <h1>Carrito de productos seleccionados</h1>
      <ul>
        <li v-for="item in productos" v-bind:key="item.productName">
          {{ item.productName }} Cantidad: {{ item.quantity }}
        </li>
      </ul>
  </div>
</template>

<script>
export default {
    name: 'Cart',
    computed: {
      productos: function () {
        return this.$store.state.cart
      }
    }
}
</script>
