<template>
  <div>
      <h1>Pagina de Inicio</h1>
      <button v-on:click="irACarrito()">Ir a carrito</button>
  </div>
</template>

<script>
export default {
    name: 'Home',
    methods: {
      irACarrito: function () {
        this.$router.push('/cart')
        // this.$router.go(-1)
      }
    }
}
</script>
