<template>
  <div>
      <h1>Listado de productos a la venta</h1>
      <ProductView v-for="product in productos" v-bind:key="product.name"
       v-bind:product="product"
      >
      </ProductView>
  </div>
</template>

<script>
import ProductView from '@/components/ProductView'

export default {
    name: 'ProductList',
    components: {
      ProductView
    },
    computed: {
      productos: function () {
        return this.$store.state.products
      }
    }
}
</script>
