<template>
  <q-page class="flex flex-center">
   <q-form
      @submit="onSubmit"
      @reset="onReset"
      class="q-gutter-md"
    >
      <q-input
        filled
        v-model="destino"
        label="Ingrese su destino"
        hint="Calle y altura"
        lazy-rules
        :rules="[ val => val && val.length > 0 || 'Please type something']"
      >
        <template v-slot:prepend>
          <q-icon name="place" />
        </template>
      </q-input>

      <q-toggle v-model="accept" label="I accept the license and terms" />

      <div>
        <q-btn label="Submit" type="submit" color="primary"/>
        <q-btn label="Reset" type="reset" color="primary" flat class="q-ml-sm" />
      </div>
    </q-form>
  </q-page>
</template>

<script>
import { LOGIN } from '../store/usuario/types'

console.log(LOGIN)

export default {
  name: 'PageIndex',
  data () {
    return {
      accept: false,
      destino: ''
    }
  },
  methods: {
    onSubmit: function () {},
    onReset: function () {}
  }
}
</script>
