<template>
  <div>
    {{ product.name }} Precio: {{ product.price }}
    <button v-on:click="agregar">Agregar a Carrito</button>
  </div>
</template>

<script>
export default {
  name: 'ProductView',
  props: {
    product: Object
  },
  methods: {
    agregar: function () {
      this.$store.commit('addCart', {
        productName: this.product.name,
        quantity: 1
      })
    }
  }
}
</script>