<head>
  <title>Hola JS</title>
</head>
<body>
  <h2>Ejemplos de Javascript</h2>
  <hr>
  <div id="div1"></div>
</body>

<script>
  var x = 1;
  
  const z = 3;

  function fc1() {
    let a = 'que pasa conmigo?';
    var b = 'yo lo soy todo';
    console.log(y);
  }

  function fc2() {
    // console.log(a); Da error por que 'a' no está definida.
    // console.log(b); Investigar
  }
  
  function fc3(unaFuncion) {
    console.log('Desde fc3');
    unaFuncion();
  }

  let y = 2;

  console.log('yyyyy')
  fc1();
  fc2();
  
  let f = fc1;
  f();
  
  fc3(f)

  let fc4 = (q, w) => {
    console.log(q+w);
  }
  fc4(10,4);

  setTimeout(() => {
    console.log('Buena semana!!')
  }, 2000);

  setTimeout(fc1, 2000);


</script>