<head>
  <title>Hola JS</title>
</head>
<body>
  <h2>Ejemplos de Javascript</h2>
  <hr>
  <div id="div1"></div>
</body>

<script>
  class Gato {
    constructor(nombre, edad, peso) {
      this.nombre = nombre;
      this.edad = edad;
      this.peso = peso;
    }

    get unValor() {
      return this.edad * this.peso
    }

    maullar() {
      console.log('Miaauuu')
    }

    comer(pesoComida) {
      this.peso += pesoComida * 0.01
    }

  }

  let gato = new Gato('Garfield', 5, 14.3);

  console.log(gato.edad);
  gato.comidaFavorita = 'Lasagna';
  console.log(gato.comidaFavorita);
  gato.maullar();
  gato.comer(200)
  console.log(gato.peso);
  console.log(gato.unValor);

  // Content-Type
  // JSON: JavaScript Object Notation
  let gatoString = JSON.stringify(gato)
  console.log(gato)
  console.log(gatoString)

  let respuestaServer = '{"nombre":"Garfield","edad":5,"peso":16.3,"comidaFavorita":"Lasagna"}'
  let gatoObj = JSON.parse(respuestaServer)
  console.log(gatoObj)

  // Promesas: Promise. Asincronismo.
  let prom1 = new Promise((resolve, reject) => {
    
    // Aca va la tarea de la promesa

    setTimeout(() => {
      console.log('Finalizo la tarea')
      resolve('todo ok')
    }, 5000);


  })

  prom1.then(mensaje => {
    console.log(mensaje)
  }).catch(err => {
    console.log('Se pudrio todo')
  })

  const url = 'https://swapi.dev/api/people/1'    // httpbin

  let prom2 = fetch(url)
  prom2.then((response) => {
    return response.json()
  }).then((data) => {
    console.log(data)
  }).catch(err => {
    console.log(err)
  } )

  // Axios

  // XMLHttpRequest
  let xhttp = new XMLHttpRequest()
  var i = 0;

  xhttp.onreadystatechange = () => {
    console.log(xhttp.readyState)
    if (xhttp.readyState == 4)          // 4- Done
      if (xhttp.status == 200)
        console.log(xhttp.responseText)
      else
        console.log(xhttp.statusText)
  }

  xhttp.open('GET', 'https://swapi.dev/api/people/1/')
  xhttp.send()


  async function consultar() {
    const url = 'https://swapi.dev/api/people/2/'

    let response = await fetch(url);
    console.log(response)
    
  }

  async function hacer() {
    console.log('Paso 1.')
    await consultar()
    console.log('Paso 2.')
  }

  hacer()


  // db = await abrirBase()
  // c = await abrirCursor(db)


  //   abrirCursor(c => {
  //     c.consultar(sql).then(resu => {

  //     })
  //   })
  // })


</script>