<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Vue.JS - Componentes</title>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>
  <div id="app">
    <input type="text" placeholder="Campo1" v-model="campo1" />
    <hr>
    <nombrecompleto titulo="Dr." v-bind:edad="campo1" v-bind:callback="reciboDeHijo"></nombrecompleto>
    <hr>
    <nombrecompleto v-bind:callback="reciboDeHijo"></nombrecompleto>
    <hr>
    <nombrecompleto v-bind:callback="reciboDeHijo"></nombrecompleto>
    <hr>

  </div>

  <script>
    Vue.component('nombrecompleto', {
      data: function () {
        return {
          nombre: '',
          apellido: '',
        }
      },
      props: {
        titulo: {
          type: String,
          default: 'Sr/a.',
          // required: true
        }, 
        edad: {
          type: String,
        },
        callback: Function,
      },
      methods: {
        nombreCompleto: function () {
          this.callback(this.apellido);
          return this.titulo + ' ' + this.nombre + ', ' + this.apellido + '  ' + this.edad;
        }
      },
      template: '<div>' +
                '  <input type="text" placeholder="Nombre" v-model="nombre" /> <br>' +
                '  <input type="text" placeholder="Apellido" v-model="apellido" />' +
                '  <h3>Nombre completo: {{ nombreCompleto() }} </h3>' +
                '</div>'
    })

    let app = new Vue({
      el: "#app",
      data: {
        campo1: '',
        reciboDeHijo: function (dato) {
          this.$parent._data.campo1 = dato;
          console.log(this);
          console.log(dato);
        }
      }
    })
  </script>
</body>
</html>