<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Vue.JS - Intro</title>
  
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>
  <div>DOM: Document Object Model</div>
  <div id="div1">x</div>

  <button onclick="clickButton()">Press Me</button>

  <hr>

  <div id="app">
    <h4>Nombre: {{ nombre }} </h4>
    <h4>Apellido: {{ apellido }} </h4>
    <h3>Nombre completo: {{ nombreCompleto() }} </h3>

    <hr>

    <input type="text" placeholder="Nombre" v-model="nombre" /> <br>
    <input type="text" placeholder="Apellido" v-model="apellido" />

  </div>

  <script>
    let app = new Vue({
      el: "#app", 
      data: {
        nombre: '',
        apellido: ''
      },
      methods: {
        nombreCompleto: function () {
          return this.nombre + ', ' + this.apellido;
        }
      },

    });

    window.miapp = app;
    
    
    
    
    function clickButton() {
      document.getElementById("div1").innerHTML = "Hola Mundo";
    }
  </script>
</body>
</html>