<template>
  <div id="app">
    <h1>El Super Carrito v1.0</h1>
    <router-link to="/">Inicio</router-link> <br>
    <router-link to="/products">Listado Productos</router-link>  <br>
    <router-link to="/cart">Carrito</router-link>  <br>
    <router-link to="/about">Sobre</router-link> 
    <hr />
    <router-view />
    <hr />
    <h5>Pie de pagina</h5>
  </div>
</template>

<script>
// import Home from './pages/Home.vue'

export default {
  name: 'App',
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
