<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vuex</title>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vuex/3.1.1/vuex.min.js"></script>

</head>
<body>

  <div id="app">
    <input type="text" v-model="usuario" v-on:keypress.enter="ingresar" />
    <h5 v-if="estaLogeado">Logeado</h5>

    <hr />

    <agregarcarrito></agregarcarrito>
    
    <hr />

    <vercarrito></vercarrito>

  </div>
  
  <script>
    let initialState = {
      username: '',
      rol: '',
      products: [],
      cart: []
    }

    const store = new Vuex.Store({
      state: initialState,
      mutations: {
        login: function (state, data) {
          state.username = data.username
          state.rol = data.rol
        },
        agregarItem: function (state, data) {
          state.cart.push({
            productName: data.producto,
            quantity: data.cantidad
          })
        }
      }
    })

    Vue.component('agregarcarrito', {
      name: 'agregarcarrito',
      data: function () {
        return {
          producto: '',
          cantidad: 0
        }
      },
      template: '<div>' +
                '  <input type="text" v-model="producto" /> <br />' +
                '  <input type="text" v-model="cantidad" /> <br />' +
                '  <button v-on:click="agregarProducto">Agregar</button>' +
                '</div>',
      methods: {
        agregarProducto: function () {
          let datos = {
            producto: this.producto,
            cantidad: this.cantidad
          }
          this.$store.commit('agregarItem', datos)
        }
      }

    })

    Vue.component('vercarrito', {
      name: 'vercarrito',
      computed: {
        items: function () {
          return this.$store.state.cart
        }
      },
      template: `
            <div>
            <h4>Carrito</h4>
            <ul>
              <li v-for="item in items">
                {{ item.productName }} - {{ item.quantity }}
              </li>
            </ul>
          </div>`
    })


    let app = new Vue({
      el: '#app',
      store: store,
      data () {
        return {
          usuario: ''
        }
      },
      computed: {
        estaLogeado: function () {
          return this.$store.state.username !== ''
        }
      },
      methods: {
        ingresar: function () {
          // autenticacion
          let datos = {
            username: this.usuario,
            rol: 'admin'
          }
          this.$store.commit('login', datos)
        }
      },
    })

    window.miapp = app

  </script>

</body>
</html>